---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import Steps from '~/components/widgets/Steps.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Iniciar Sesion',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Registrar',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Arxatec"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Iniciar consulta', href: '#' },
      { text: 'Mas informacion', href: '#features' },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
      alt: 'AstroWind Hero Image',
    }}
  >
  <Fragment slot="title">
    Simplifica tus consultas legales con Arxatec: tu aliado <span style="color: #3A35A0;" class="highlight">

      en Derecho Laboral</span
    ><br />
</Fragment>

<Fragment slot="subtitle">
  <span class="hidden sm:inline">
    Mejora tu experiencia legal con las soluciones de <span class="font-semibold">Arxatec</span> en consultas laborales especializadas.</span>
    Integra fácilmente asesoría legal experta y tecnología para resolver casos laborales de manera eficiente.
</Fragment>

  </Hero2>

   <!-- Stats Widget ****************** -->

   <Stats
   stats={[
     { title: 'Usuarios', amount: '100' },
     { title: 'Abogados', amount: '24' },
     { title: 'Ejemplo', amount: '10.3K' },
     { title: 'Ejemplo', amount: '48.4K' },
   ]}
 />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="¿Por qué elegir Arxatec?"
    subtitle="Cada una de las siguientes características mejora la propuesta de valor de Arxatec."
    columns={2}
    items={[
      {
        title: 'Plataforma legal especializada en Derecho Laboral',
        description:
          'Ofrece una combinación poderosa de consultas legales especializadas en Derecho Laboral, optimizando el proceso de asesoría y la experiencia del usuario.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Diseño adaptable para empresas y trabajadores',
        description: `Personaliza fácilmente Arxatec para ajustarse a las necesidades legales de empresas, trabajadores y emprendedores. El diseño versátil de Arxatec se adapta a cada situación.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Asesoría legal personalizada y eficiente',
        description:
          'Con una personalización intuitiva, muestra casos legales, consultas previas y soluciones destacadas. Ideal para abogados y consultores legales que buscan ofrecer un servicio eficiente.',
        icon: 'tabler:writing',
      },
      {
        title: 'Consultas rápidas y seguimiento de casos en línea',
        description: `Las consultas están diseñadas estratégicamente para resolver problemas legales de manera rápida y efectiva. El sistema permite el seguimiento en tiempo real de los casos laborales.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Respuestas legales rápidas con tecnología avanzada',
        description: `El uso de la plataforma asegura tiempos de respuesta rápidos y una experiencia de usuario fluida, optimizando la consulta legal. Cumple con las mejores prácticas para brindar asesoría eficiente.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Estructura optimizada para consultas laborales',
        description: `Sigue las mejores prácticas legales con consultas claras y organizadas, mejorando la visibilidad en buscadores y facilitando el acceso a servicios jurídicos.`,
        icon: 'tabler:eyeglass',
      },
    ]}
    
  />

  <!-- Content Widget **************** -->

  <Content
  title="Casos de uso"
  subtitle="Descubre cómo la plataforma versátil de Arxatec es la solución ideal para diversos casos legales, ofreciendo asesoría personalizada para garantizar el éxito."
  
    isReversed
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=80&h=400',
      alt: 'Startup Image',
      className: 'max-w-[100px] h-auto'
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
    Gain a competitive advantage by incorporating industry leading practices
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `For SaaS businesses, user experience is key. AstroWind enhances showcasing SaaS solutions intuitively. The template's Astro 4.0 and Tailwind CSS integration guarantees user-friendly experience, mirroring your software's efficiency. Customize pages to communicate SaaS value and solutions for your audience.`,
      },
      {
        title: 'Benefits:',
        description: `Ensuring a cohesive and user-centric design for your SaaS website. <br /> Effectively communicate complex SaaS features through visual aids, animations, and interactive elements. <br /> Prioritize user needs and pain points through well-structured layouts and clear navigation. <br /> Encourage visitors to take action with strategically placed CTAs. <br /> Ensures your SaaS website works seamlessly across all devices.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        SaaS showcase: <br /><span class="text-2xl">Streamlining user experience</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'Enhanced user engagement',
      description:
        'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
    },
    {
      title: 'Continuous improvement',
      description:
        'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
    },
    {
      title: 'Time and resource efficiency',
      description:
        'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
    },
    {
      title: 'Community support',
      description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Astronauts Image',
  }}
>
  <Fragment slot="content">Designed to foster growth and success.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>



  <!-- Content Widget **************** -->
  <Steps
  title="Get your dream website up and running in no time with AstroWind."
  items={[
    {
      title: 'Step 1: <span class="font-medium">Download</span>',
      description:
        "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
      icon: 'tabler:package',
    },
    {
      title: 'Step 2: <span class="font-medium">Add content</span>',
      description:
        "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
      icon: 'tabler:letter-case',
    },
    {
      title: 'Step 3: <span class="font-medium">Customize styles</span>',
      description:
        'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
      icon: 'tabler:paint',
    },
    {
      title: 'Ready!',
      icon: 'tabler:check',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
    alt: 'Steps image',
  }}
/>
  <!-- <Content
    items={[
      {
        title: 'Description:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
      {
        title: 'Benefits:',
        description: `Present your small business with a professional and polished website that instills confidence and trust among visitors. <br /> Strategically placed CTAs, user-friendly forms, and optimized layouts work together to drive user engagement and conversions. <br /> Ensure a smooth browsing experience, reducing bounce rates and encouraging interaction.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small business growth: <br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  
  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

<!-- Testimonials Widget *********** -->

  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />
  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
